@font-face {
    font-family: Kapakana;
    src: url(assets/Kapakana.ttf);
}
.all_welcome {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    align-items: center;     /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh;       /* Full viewport height */
    margin: 0;               /* Remove default margins */
    gap: 20px;           /* Remove default body margin */
    z-index: 1;
}
body {
    font-family: Kapakana;
    background: #FFD9E8;
}
.welcome_message {
    width: 276px;
    height: 196px;


    /* text*/
    color: #000;
    text-align: center;
    font-family: Kapakana;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome_button_top {
    padding: 15px 53px;
    gap: 10px;
    border: 0px;
    background: #FFF;

    /* text */
    color: #000;
    text-align: center;
    font-family: Kapakana;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome_button_bottom {
    padding: 15px 53px;
    gap: 10px;
    background: #FFF;

    /* text */
    color: #000;
    text-align: center;
    font-family: Kapakana;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0px;
}

.flower_image {
    width: 150px;
    height: auto;
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 20px;
}

.butterfly_div {
    display: flex;
    align-items: center; 
    height: 0vh;
}

.butterfly_image {
    width: 100px;
    height: auto;
    z-index: 3;
    position: fixed;
    top: 200px;
    left: 10px;
}

.heart_image {
    height: 100px;
    width: auto;
    z-index: 3;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.sonny_angel {
    height: 150px;
    width: auto;
    z-index: 3;
    position: fixed;
    bottom: 0px;
    right: 10px;
}